html, body {
  height: 100%;
}
body {
  margin: 0;
  background: #222;
}
.mobile {
  width: 100%;
  height: 100%;
  max-width: 390px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url(zj4we7fjulia1.jpg) center / cover no-repeat fixed;
}
main {
  flex: 1;
}
.topnav {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
}
.topnav a {
  font-size: 20px;
  color: #e6e6e6;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  margin: 150px 20px 0;
  background-color: rgba(0, 0, 56, 0.568);
  color: white;
  font-size: 40px;
  border-radius: 20px;
}
h2 {
  color: white;
  margin-top: 40px;
}
input {
  width: 70%;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.hint {
  font-size: 20px;
  color: white;
}
.hint a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}
footer {
  padding: 20px 0;
}
.hours {
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.social {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 24px;
  padding-top: 20px;
}
.social a {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 56, 0.568);
}